<md-list-item>
    <div class="md-no-style">
        <div class="md-list-item-inner">{{$ctrl.pokemon.name | uppercase }}</div>
    </div>
    <div class="md-secondary-container">

    </div>

    <a href="#!/pokemons/{{$ctrl.pokemon.objectId }}" class="md-secondary md-button md-ink-ripple">
        Показать инфу
    </a>
</md-list-item>